# Supabase Configuration
VITE_SUPABASE_URL=https://cdadbfkxivbaznhrsswn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkYWRiZmt4aXZiYXpuaHJzc3duIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxNzk4MzQsImV4cCI6MjA4NTc1NTgzNH0.2XMMtTIhF5CQUdz8ZJoitYxeRTh80zh-6qVd0BgD60c
